.list,
.contacts {
  list-style: none;
}

.link,
.page-logo,
.footer-logo {
  text-decoration: none;
}

button {
  font-family: inherit;
  cursor: pointer;
}

.description-first-word-page-logo {
  color: #4d5ae5;
}

.page-logo {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  color: #2e2f42;

  /* identical to box height, or 117% */
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.menu-link {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;

  /* identical to box height, or 150% */
  letter-spacing: 0.02em;

  /* NAVY BLUE */
  color: #2e2f42;
}

.menu-item,
.link:active {
  color: #9747ff;
}

.modal-open-button:hover,
.modal-open-button:focus {
  color: #9747ff;
}

.contacts-item-tel {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;

  /* identical to box height, or 150% */
  letter-spacing: 0.02em;

  /* SLATE */
  color: #434455;
}

.contacts-item-mail {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;

  /* identical to box height, or 150% */
  letter-spacing: 0.02em;

  /* SLATE */
  color: #434455;
}

.main-title {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  background-color: #2e2f42;

  /* or 107% */
  text-align: center;
  letter-spacing: 0.02em;

  /* WHITE */
  color: #ffffff;
}

.modal-open-button {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  background-color: #4d5ae5;

  /* identical to box height, or 150% */
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;

  /* WHITE */
  color: #ffffff;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.principles {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;

  /* identical to box height, or 120% */
  letter-spacing: 0.02em;

  /* NAVY BLUE */
  color: #2e2f42;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.principles-description {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;

  /* or 150% */
  letter-spacing: 0.02em;

  /* SLATE */
  color: #434455;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}

.section-description {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;

  /* identical to box height, or 111% */
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;

  /* NAVY BLUE */
  color: #2e2f42;
}

.name {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;

  /* identical to box height, or 120% */
  text-align: center;
  letter-spacing: 0.02em;

  /* NAVY BLUE */
  color: #2e2f42;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.position {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;

  /* identical to box height, or 150% */
  text-align: center;
  letter-spacing: 0.02em;

  /* SLATE */
  color: #434455;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}

.footer-logo {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  color: #f4f4fd;
  background-color: #2e2f42;

  /* identical to box height, or 117% */
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.footer-description {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  background-color: #2e2f42;

  /* or 150% */
  letter-spacing: 0.02em;

  /* CLOUD */
  color: #f4f4fd;
}
